n8n/workflows/W2-calendar-assist.json
{
  "name": "W2 - Calendar Assist",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "cronExpression", "expression": "0 * * * *" } ] } },
      "id": "sched-w2",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "simple": true,
        "filters": { "q": "is:unread newer_than:2d" }
      },
      "id": "gmail-get2",
      "name": "Get unread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/calendar/parse",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $json.from, \"subject\": $json.subject, \"body\": $json.text } }}",
        "options": { "timeout": 120000 }
      },
      "id": "http-cal",
      "name": "worker /calendar/parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [600, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "combinator": "and",
          "conditions": [ { "leftValue": "={{ $json.is_event }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } } ]
        }
      },
      "id": "if-event",
      "name": "Is event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [800, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/pending",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"kind\": \"event\", \"payload\": { \"title\": $json.title, \"start\": $json.start, \"end\": $json.end, \"timezone\": $json.timezone, \"location\": $json.location, \"notes\": $json.notes } } }}",
        "options": {}
      },
      "id": "store-pending2",
      "name": "Store pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1000, 220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": { "__rl": true, "value": "={{ $env.TELEGRAM_CHAT_ID }}", "mode": "expression" },
        "text": "={{ '📅 Meeting detected: ' + $('worker /calendar/parse').item.json.title + '\\n' + $('worker /calendar/parse').item.json.start + ' → ' + $('worker /calendar/parse').item.json.end + '\\n' + $('worker /calendar/parse').item.json.location }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            { "row": { "buttons": [
              { "text": "✅ Add to calendar", "additionalFields": { "callbackData": "=a:{{ $json.id }}" } },
              { "text": "❌ Ignore", "additionalFields": { "callbackData": "=r:{{ $json.id }}" } }
            ] } }
          ]
        },
        "additionalFields": {}
      },
      "id": "ask-approval2",
      "name": "Ask approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1200, 220],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Hourly": { "main": [ [ { "node": "Get unread", "type": "main", "index": 0 } ] ] },
    "Get unread": { "main": [ [ { "node": "worker /calendar/parse", "type": "main", "index": 0 } ] ] },
    "worker /calendar/parse": { "main": [ [ { "node": "Is event?", "type": "main", "index": 0 } ] ] },
    "Is event?": { "main": [ [ { "node": "Store pending", "type": "main", "index": 0 } ], [] ] },
    "Store pending": { "main": [ [ { "node": "Ask approval", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" }
}
