n8n/workflows/W2-calendar-assist.json
{
  "name": "W2 - Calendar Assist",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "cronExpression", "expression": "0 * * * *" } ] }
      },
      "id": "sched-w2",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "simple": true,
        "filters": { "q": "is:unread newer_than:2d" }
      },
      "id": "gmail-get2",
      "name": "Get unread",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WORKER_URL }}/calendar/parse",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"from\": $json.from, \"subject\": $json.subject, \"body\": $json.text } }}",
        "options": { "timeout": 120000 }
      },
      "id": "http-cal",
      "name": "worker /calendar/parse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [660, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.is_event }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        }
      },
      "id": "if-event",
      "name": "Is event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [880, 300]
    },
    {
      "parameters": {},
      "id": "noop-proposed",
      "name": "Proposed event (approve in W4)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 220]
    }
  ],
  "connections": {
    "Hourly": { "main": [ [ { "node": "Get unread", "type": "main", "index": 0 } ] ] },
    "Get unread": { "main": [ [ { "node": "worker /calendar/parse", "type": "main", "index": 0 } ] ] },
    "worker /calendar/parse": { "main": [ [ { "node": "Is event?", "type": "main", "index": 0 } ] ] },
    "Is event?": { "main": [ [ { "node": "Proposed event (approve in W4)", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" }
}
